body{
  background: linear-gradient(#7F179C, #111379);
    background-repeat: no-repeat;
}

h1{
transform:translateY(200px) translateX(100PX);
color:rgb(122, 255, 197)
}

.email, .passW, .userN, .conpassW{
transform: translateY(250px) translateX(500px);
font-size: 1.25rem;
color:rgb(122, 204, 255); 
align-items: center;

}

.wrapper{
    transform: translateY(300px) translateX(250PX);
text-align: center;
}