body{
    background: linear-gradient(#7F179C, #111379);
    background-repeat: no-repeat;
    background-size: 100000000px 120px;
}

.ArticleS{
    text-align: center;
    transform: translateY(20px) translateX(425px);
    width: 150%;       /* Spans the full width of its container */
    max-width: 500px;  /* Prevents it from getting too wide on desktop */
    height: 50px;      /* Increases the height */
    padding: 10px;     /* Adds space inside the box */
    font-size: 18px;   /* Makes the text larger */
}

#articrehead{
color:#5fffac;
max-width: 50ch;
transform: translateX(400px)  translateY(25px)
}

#Crea{
    color:#5fffac;
max-width: 50ch;
transform: translateX(605px)  translateY(-68px)
}


#stats{
color:#5faaff;
max-width: 50ch;
transform: translateX(400px)  translateY(-416px)

}

#UserManag{
    text-align: end;
color:#5fffac;
max-width: 50ch;
transform: translateX(650px)  translateY(-1160px)
}

#ArtiManag{
    text-align: end;
 color:#5fffac;
max-width: 50ch;
transform: translateX(650px)  translateY(-1030px)
}