body{
    background: linear-gradient(#5faaff, #ca7bfe);
    background-repeat: no-repeat;
}

h1{
    transform:translateY(200px) translateX(100PX);

color:rgb(122, 255, 197)
}

.email, .passW, .userN, .conpassW{
transform: translateY(300px);
font-size: 1.25rem;
    text-align: center;
    color:rgb(122, 204, 255);
 width: 100%;   
}

.wrapper{
text-align: center;
transform: translateY(300px) translateX(250PX);
}